
    /* 폰트적용 */
    @font-face {
      font-family: 'LeferiBaseType-RegularA';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  
  html > body {
    font-family: "LeferiBaseType-RegularA";
  }
  
  /*커스텀 라이브러리*/
  *{
    padding:0;
    margin:0;
  }
  
  .con{
    width:1920px;
    height:auto;
    margin:0 auto;
  }
  
  @media ( min-width: 1900px ) {
    body { overflow-x:hidden; }
  }
  
  /*뜨는애니메이션 라이브러리*/
  
  .main-1,.main-2{
    animation-name: infinite-01 ;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear ; 
  }
  
  
  @keyframes infinite-01{
    0%{
      transform: translatey(0) ;
    }
    
    50%{
      transform: translatey(-20%);    
    }
    
    100%{
      transform: translatey(0);    
    }
    
  }
  
  .about-1{
    background-image:url('https://cdn.jsdelivr.net/gh/chaeryeong1/portfolio_img/about/about-1-bg-new (1).png');
    width:1920px;
    height:1080px;
  }
  
  .about-menu-logo-1{
    left:100px;
    top:30px;
  }
  
  .about-menu-branding{
    left:526px;
    top:41px;
  }
  
  .about-menu-about{
    left:721px;
    top:41px;
  }
  .about-menu-portfolio{
   left:885px;
    top:41px;
  }
  
  .about-menu-process{
    
     left:1090px;
    top:41px;
  }
  
  .about-menu-experience{
     left:1278px;
    top:41px;
  }
  
  .about-1-img{
    top:694px;
    left:29px;
  }
  
  .about-1-img-2{
     top:250px;
    left:1180px;
  }
  
  .about-1-img-3{
    top:285px;
    left:677px;
  }
  
  .about-1-img-4{
    top:540px;
    left:340px;
  }
  
  .about-2{
    width:1920px;
    height:1221px;
    background-color:#EEEEEE;
  }
  
  .about-2-text{
    top:100px;
    left:150px;
    
  }
  
  .about-2-img{
    top:301px;
    left:352px;
    
  }
  
  .about-3{
    width:1920px;
    height:1221px;
    background-color:#EEEEEE;
  }
  
  .about-3-text{
  
  top:100px;
  left:158px;
  }
  
  .about-3-img-1{
    top:363px;
    left:158px;
  }
  
  .about-3-img-2{
    top:435px;
    left:1034px;
  }
  .about-3-img-3{
    top:666px;
    left:1034px;
  }
  
  .about-3-img-4{
    top:918px;
  left:1034px;
  }
  
  .about-4{
    background-color:#F62F68;
    width:1920px;
    height:700px;
  }
  
  .about-4-text{
    top:40px;
    left:434px;
  }
  
  .about-4-img-1{
    top:158px;
    left:434px;
  }
  .about-4-img-2{
    top:481px;
    left:439px;
  }
  
  .about-5{
    width:1920px;
    height:1079px;
    background-color:#ffffff;
  }

  .about-5-text{
    left:205px;
    top:100px;
  }
  .about-5-img-1{
    left:205px;
    top:268px;
  }
  
  .about-5-img-2{
    left:1019px;
    top:268px;
  }
  
  .about-5-img-3{
    left:1019px;
    top:540px;
  }
  
  .about-5-img-4{
    left:1019px;
    top:812px;
  }
  
  .see-me-por{
    width:1920px;
    height:300px;
    background-color:#F4F4F4;
  }
  
  .see-me-por-1{
    top:86px;
    left:797.1px;
  }
  .top{
   top:150px;
    left:1790px;}